<br> <br> <br> <br>
<div>
  <form class="form-horizontal" method="get" action="factorial.erb">
    <div class="form-group lead">
      <label for="fact-input">The factorial of: </label>
      <input type="number" class="form-control input-lg input-block" placeholder="Number" id="fact-input">
    </div>
    <br>
    <div class="lead" id="intro_message">is</div>
    <button type="submit" class="btn btn-warning btn-block btn-lg" id="fact-submit">Solve!</button>
  </form>
</div>
<br>
<div class="lead" id="fact-output" style="text-align: center"></div>
<br>
<img src="files/fact.png" class="image" width="553.6" height="479.2">
