<br> <br> <br>
<h1>The Web Calculators<small> A Programming Project</small></h1>

<hr>

<dl id="calculators">
  <dt class="lead" id="intro_message"><h3><u>Quadratic Equation Solver</u></h3></dt>
  <dd class="lead" id="intro_message">This calculator will find the roots of a quadratic equation. <br> NaN means it is either not a function or it doesn't touch the x-axis.</dd>
  <hr>
  <dt class="lead" id="intro_message"><h3><u>Pythagorean Theorem Solver</u></h3></dt>
  <dd class="lead" id="intro_message">This calculator will help users find various side lengths of a right triangle. <br> If a non-positive integer is inputted, it will take the absolute value. <br> Also, if a non-number is inputted, then the answer will be NaN.</dd>
  <hr>
  <dt class="lead" id="intro_message"><h3><u>Factorial Calculator</u></h3></dt>
  <dd class="lead" id="intro_message">This calculator will find the factorial of any number. <br> Any decimal (float) will be rounded to the nearest number. <br> In addition, a solution will not be outputted if the answer is not a positive number. </dd>
</dl>
